<section class="content">
    <h3 class="visuallyhidden">Address</h3>
    <div vocab="http://schema.org/" typeof="LocalBusiness">
        <span property="name">Central Florida Marble, LLC.</span>
        <div property="address" typeof="PostalAddress">
            <span property="streetAddress">4170 Mercy Industrial Ct, Suite B,</span><br>
            <span property="addressLocality">Orlando,</span>
            <span property="addressRegion">FL</span>
            <span property="postalCode">32808</span>
        </div>
        <p>By Appointment Only</p>
        <div class="google-map">
            <a href="http://maps.google.com/?q=4170 Mercy Industrial Ct, Suite B, Orlando, Fl 32808">
                <img alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=4170 Mercy Industrial Ct, Suite B, Orlando, Fl 32808&amp;markers=color:red%7C4170 Mercy Industrial Ct, Suite B, Orlando, Fl 32808&amp;zoom=12&amp;size=300x200&amp;scale=1&amp;sensor=false&amp;visual_refresh=true"> </a>
        </div>
    </div>
</section>
