<nav class="footer__nav">
<div class="footer__nav__column">

    <p class="h4 is-first-heading">Products</p>
    <ul>
        {% assign countertops = site.products | where: "category", "countertops" %} {% for countertop in countertops %}
        <li><a href="{{ countertop.url }}">{{ countertop.title }}</a></li>
        {% endfor %}
<hr>
    {% for product in site.products %} {% if product.category contains "cultured marble" %}
    <li><a href="{{ product.url }}">Cultured Marble {{ product.title }}</a></li>
    {% endif %} {% endfor %}
<hr>
        {% assign surrounds = site.products | where: "category", "surrounds" %} {% for surround in surrounds %}
        <li><a href="{{ surround.url }}">{{ surround.title }} Surrounds</a></li>
        {% endfor %}
        <hr>
        <li><a href="{{ site.url }}/products/thresholds/quartz">Quartz Thresholds</a></li>
    </ul>
</div>
<div class="footer__nav__column">
  <p class="h4 is-first-heading">General</p>
  <ul>
      <li><a href="{{ site.url }}/stone-remnants/">Stone Remnants</a></li>
      <li><a href="{{ site.url }}/terms">Terms & Privacy Policy</a></li>
  </ul>
</div>
</nav>
