<footer class="container footer content" role="footer">
  <h2 class="visuallyhidden">Footer</h2>

  <div class="row">
    {% include footer/address.html %}
    <div class="col-lg-4 col-sm-12 footer-section">
    <p class="h4 is-first-heading">Information</p>
    <ul class="list-unstyled">
        <li><a href="{{ site.github.url }}/stone-remnants/">Stone Remnants</a></li>
        <li><a href="{{ site.github.url }}/terms">Terms & Privacy Policy</a></li>
    </ul>
    <ul class="list-unstyled">
      <p class="h4">Kitchen</p>
      <li><a href="{{ site.github.url }}/products/countertops/granite/">Granite Countertops</a></li>
      <li><a href="{{ site.github.url }}/products/countertops/marble/">Marble Countertops</a></li>
      <li><a href="{{ site.github.url }}/products/countertops/quartz/">Quartz Countertops</a></li>
      <li><a href="{{ site.github.url }}/products/countertops/quartzite/">Quartzite Countertops</a></li>
      <li><a href="{{ site.github.url }}/products/countertops/solid-surface/">Solid Surface Countertops</a></li>
    </ul>

  </div>
  <div class="col-lg-4 col-sm-12 footer-section">
    <ul class="list-unstyled">
      <p class="h4 is-first-heading">Bathroom</p>
      <li><a href="{{ site.github.url }}/products/vanity-tops/">Cultured Marble Vanity Tops</a></li>
      <li><a href="{{ site.github.url }}/products/surrounds/showers/">Shower Surrounds</a></li>
      <li><a href="{{ site.github.url }}/products/surrounds/tub-deck/">Tub Deck Surrounds</a></li>
    </ul>
    <ul class="list-unstyled">
      <p class="h4 household-heading">Household Surfaces</p>
      <li><a href="{{ site.github.url }}/products/window-sills/">Window Sills</a></li>
      <li><a href="{{ site.github.url }}/products/surrounds/fireplace/">Fireplace Surrounds</a></li>
      <li><a href="{{ site.github.url }}/products/thresholds/">Thresholds</a></li>
    </ul>
  </div>
  <div class="col-lg-4 col-sm-12">
  </div>
</div>
</footer>
