.product-button-list {
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-button-list__item {
	margin-bottom: 10px !important;
}

.product-button-list__button {
	/*width: 130px;*/
}

.footer__free-quote-button {
	margin-top: 1em;
}

.footer__title {
	margin-top: 0;
}

.footer {
	padding-top: 100px;
}