.header-bar {
    background: $primary;


    .title, .subtitle {
		 color: $white;
		 font-family: $family-sans-serif;
    	 font-weight: 700;
	}
}

.header-bar {
    margin-top: 88px;
}

.hero-body {
  height: 100px;
  padding: 20px 0;
}
