<div class="column is-half content">
    <p> General</p>
    <ul>
        <li><a href="{{ site.github.url }}/about">About</a></li>
        <li><a>Frequently Asked Questions</a></li>
        <li><a href="{{ site.github.url }}/terms">Terms</a></li>
    </ul>
    <p>Surrounds</p>
    <ul>
        {% assign surrounds = site.products | where: "category", "surrounds" %} {% for surround in surrounds %}
        <li><a href="{{ surround.url }}">{{ surround.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="column is-half content">
    <p>Countertops</p>
    <ul>
        {% assign countertops = site.products | where: "category", "countertops" %} {% for countertop in countertops %}
        <li><a href="{{ countertop.url }}">{{ countertop.title }}</a></li>
        {% endfor %}
    </ul>
</div>
