<section class="section" role="section">
    <div class="container">
        <div class="columns is-multiline">
            {% assign swatches = site.data[page.material] %} 
            {% for swatch in swatches %} 
            {% if swatch.products contains page.category %}
            <div class="column is-3">
                <p>{{ swatch.name }}</p>
                <figure class="image is-square">
                    <img src="{{ site.url }}/assets/images/materials/{{ swatch.image }}">
                </figure>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
