<div class="main__text">
  <p class="is-first-heading h2">Solid Artistry and Service</p>
  <p class="h3">With 30 years of experience, we're ready to turn your vision into a lasting reality.</p>
  <p><b>Tired of your old kitchen?</b> Imagine something new. Dream big. Cook and dine in a space that inspires you. Does it have refined, natural stone or engineered beauty? Is it subtle and sophisticated, or vibrant with lots of personality?</p>
  <p>She was still shaping her vision, but knew her firm budget. With fair, expert advise and personal service, <b>we transformed her home in an unexpected way.</b> Let me explain.
  </p>
  <p class="h4">A Legacy of Quality Work</p>
  <p>My name is Susan Gustafson, President of Central Florida Marble. Our family-owned and operated company has served Central Florida and surrounding areas since 1987, providing countertops and other surfaces to leading custom builders, millwork companies,
    and the top two home improvement companies in the United States. <a href="{{ site.url }}/about">Read our history</a>.</p>

  <p class="h4">Consider the Possabilities</p>
  <p>When my new client (I'll call her Ava) called me, she wanted to know her options.</p>
  <p>"You can go with natural stone like <a>granite</a>, <a>marble</a>, or <a>quartzite</a>, an engineered stone like <a>quartz,</a> or you might consider <a>solid surface</a>," I explained. <br><a href="{{ site.url }}/ultimate-countertop-guide">Read our countertop guide.</a>
  </p>
  <p class="h4">The Next Step</p>
  <p>"I've seen some georgeous granite countertops &ndash; would that even fit my budget? And what's solid surface?" she asked.</p>


  <p>"Solid surface is a man-made material," I said, "great if you want a seamless countertop that's low maintanence. And it's more affordable. We've been fabricating DuPont Corian, the first and leading solid surface brand, for over 20 years. Why don't
    you come into our showroom to see our Corian and other brand-name swatches &ndash; I have a several here that mimic the look and feel of granite." <br><a href="{{ site.url }}">See and feel samples in our showroom.</a></p>

  <p>

    <p class="h4">The Choice was Obvious</p>
    Ava made an appointment and was in our showroom. "I was moving towards quartz," she said, "but after seeing the natural stone, I know granite will complete my kitchen perfectly!" Later, I met with Ava and her husband at one of our partner granite dealers.
    I gave a few pointers and they chose their stone.
  </p>

  <p>"I've seen some georgeous granite countertops &ndash; would that even fit my budget? And what's this solid surface I've heard about?" she asked.</p>
  <p>"What's solid surface?" she asked.</p>
  and view our porfolio of <a>granite</a>, <a>marble</a>, <a>quartzite</a>, <a>quartz</a>, <a>solid surface</a>, and <a>cultured marble</a> products
  <p class="h4">With You Each Step</p>
  <p>After Ava chose granite, we sent her our price estimate and our team went to Ava to template of the countertop area. After final measurement, she got the finalized price.</p>
  <p class="h4">You Demand the Best. We Deliver. technology/expertise</p>
  <p>Your granite, quartz, solid surface, or cultured marble countertop will be fabricated using the latest industry technology. On time and within your budget. <a href="{{ site.url }}/cultured-marble">Learn more about our cultured marble specialty.</a></p>
  <p class="h4">Easy Install</p>
  <p>INstallation <a href="{{ site.url }}/process">Learn about our process.</a></p>
  <p class="h4">Guarantee</p>
  <p>We stand behind the quality of our work and our success is proven by our many years of experience. <a href="{{ site.url }}/guarantee">Read our Guarantee.</a></p>

  natural granite, marble and quartzite as well as the top brands of man-made quartz. We have been fabricating Dupont Corian for over 20 years and also work with other leading brands of Solid Surface. Our company is unique in that we are also a manufacturer
  of custom cultured marble.


  <p class="h4">Call To Action</p>
  <p>Ready - free online quote, or call us.</p>

  <i class="fa fa-phone"></i>
  </span> &ensp;
  <span property="telephone">407&ensp;298&ensp;3065</span>
  <br>
  <span class="icon">
  <i class="fa fa-fax"></i>
</span> &ensp;
  <span property="faxNumber">407&ensp;291&ensp;2439</span>
  <br>
  <span class="icon">
  <i class="fa fa-envelope-o"></i>
</span> &ensp;
  <a href="mailto:sales@getcountertops.com" property="email">sales@getcountertops.com</a>
</div>

<div class="main__image fixedsticky">
<img src="{{ site.url }}/assets/images/kitchen-2.jpg">
</div>
