<div class="landing">
  <div class="landing__wrap">
    <div class="landing__text">
      <p class="h1 is-first heading">Solid Artistry and Service</p>
      <p class="h2 is-first heading">With 30 years of quality workmanship, you can trust us to craft the cornerstone of your kitchen.</p>
      <!-- <p class="h1 is-first heading">Thirty years of solid artistry and service.</p>
      <p class="h2 is-first heading">Trust us to craft the cornerstone of your kitchen.</p> -->
      <!-- <p class="h3">Discover your kitchen cornerstone.</p> -->
      <p class="h3 is-first heading">We'll match you with the perfect countertop for your budget and needs. Ready to see all your options?</p>

      <p class="h3 is-first heading">Get our Ultimate Countertop Guide.</p>

      <div class="landing__form">
        <input class="landing__form__input" type="text" placeholder="your@email.com"></input>
        <button class="landing__form__button" href="{{ site.url }}/#">Get it!</button>
      </div>
    </div>
  </div>
  <div class="landing__wrap">
    <div class="landing__video">

    </div>
  </div>
</div>
