<div class="landing">
  <div class="landing__text-wrap">
    <div class="landing__text">
      <!-- <p class="h1 is-first heading">Solid Artistry and Service</p> -->
      <p class="h2 is-first heading">Trust 30 years of quality workmanship to craft the cornerstone of your kitchen.</p>
      <p class="h3 is-first heading">Begin with our <b>Free Ultimate Countertop Guide</b> to discover the possabilities and the perfect surface:</p>
      <!-- <p class="h3 is-first heading">To begin, discover the possabilities and the perfect surface with our free Ultimate Countertop Guide:</p> -->
      <!-- <p class="h3 is-first heading">Turn your vision into a lasting reality. We'll guide you to the perfect countertop for your budget and needs.</p> -->
      <!-- <p class="h2 is-first heading">With 30 years of quality workmanship, you can trust us to craft the cornerstone of your kitchen.</p> -->
      <!-- <p class="h1 is-first heading">Thirty years of solid artistry and service.</p>
      <p class="h2 is-first heading">Trust us to craft the cornerstone of your kitchen.</p> -->
      <!-- <p class="h3">Discover your kitchen cornerstone.</p> -->
      <!-- <p class="h3 is-first heading">We'll match you with the perfect countertop for your budget and needs. Ready to discover the possabilities?</p> -->

      <!-- <p class="h3 is-first heading">Get the Ultimate Countertop Guide:</p> -->

      <div class="landing__form">
        <input class="landing__form__input" type="text" placeholder="your@email.com"></input>
        <button class="landing__form__button" href="{{ site.url }}/#">Get Inspired&ensp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <!-- <button class="landing__form__button" href="{{ site.url }}/#">Get the Guide&ensp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button> -->

      </div>
<!-- <p class="h3 film-link"><a><i class="fa fa-film" aria-hidden="true"></i>&ensp;View our video welome.</a></p> -->
<!-- <input data-button type=button onclick=spawnModal()><i class="fa fa-film" aria-hidden="true"></i>&ensp;View our video welome.</input> -->

<button class="film-link" href="//vimeo.com/98472569" data-lity><i class="fa fa-play" aria-hidden="true"></i>&ensp;</button></p>

    </div>
  </div>
  <!-- <div class="landing__video-wrap">
    <div class="landing__video">
      <img class="landing-image" src="{{ site.url }}/assets/images/kitchen-2.jpg">
    </div>
  </div> -->
</div>
