<div class="landing">
  <div class="landing__text-wrap">
    <div class="landing__text">
      <!-- <p class="h2 is-first heading">Life happens around the countertop.</p> -->

      <p class="h2 is-first heading">Entrust the cornerstone of your kitchen with a family that's delivered quality workmanship for 30 years.</p>

      <!-- <p class="h2 is-first heading">Trust the family that's delivered quality workmanship for 30 years to craft the cornerstone of your kitchen .</p> -->

      <p class="h3 is-first heading">What can we build for you? Discover the possabilities and find the perfect surface when you read our <br><b>Essential Countertop Guide:</b></p>

      <!-- <p class="h3 is-first heading">What can we build for you? Get started with our <b>Essential Countertop Guide:</b> an infographic to help you discover the possabilities and find the perfect surface:</p> -->

      <div class="landing__form">
        <input class="landing__form__input" type="text" placeholder="your@email.com"></input>
        <button class="landing__form__button" href="{{ site.url }}/#">Get Inspired&ensp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>

      </div>


<!-- <button class="film-link" href="//vimeo.com/98472569" data-lity><i class="fa fa-play" aria-hidden="true"></i>&ensp;</button></p> -->

    </div>
  </div>
  <div class="landing__video-wrap">
    <div class="landing__video">
      <iframe src="https://player.vimeo.com/video/98472569?title=0&byline=0&portrait=0" width="1000" height="750" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <img class="logomark-small" src="{{ site.url }}/assets/images/logo-mark.png">
      <p class="header__logo-wrap__logo landing-logo"><a href="{{ site.url }}">{{ site.title }}</a></p>
    </div>
  </div>
</div>
