<section class="content" role="section">
<div class="content__text">

<h2 class="">With You Each Step</h2>

<p class="h3">Moving from your vision to finished countertops is as easy as <b>Four Steps.</b></p>

<p class="h4"><b>Step 1:</b> Measurements, Material Choice, and Price Estimate</p>

Whether you something or are just getting started, we'll guide you to the perfect surface each step of the way.

<p class="h4">Describe Your Project</p>

To get started, give us a call and describe your project. It is helpful if you can give the measurements both of the countertop area and built-in appliances and faucets that will be installed.

<p class="h4">Visit Our Showroom</p>

Not sure which material is right for you? Make an appointment to visit our showroom. We will help you select a product, color, and edge profile that fits your needs and budget.

Once you've made your decision, we'll give you a price estimate based on the size of the project and the material used.

Remnant pieces are available for use in smaller projects.

<p class="h4"><b>Step 2:</b>Finalized Measurements and Price</p>

Next, our team will visit the job site and take final measurements of the countertop area. After creating the template, we will send the finalized price.

<p class="h4"><b>Step 3:</b> Fabrication</p>

<p>We fabricate all our household surfaces using the latest industry technology, including CNC Machinery to shape our quartz, quartzite and granite products.</p>

<p class="h4"><b>Step 4:</b> Installation</p>

<p>Time between choosing the material and the final installation will vary based on the size of the project.</p>

<p class="h4">Call To Action</p>
<p>Ready - free online quote, or call us.</p>
<span class="icon">
<i class="fa fa-phone"></i>
</span> &ensp;
<span property="telephone">407&ensp;298&ensp;3065</span>
<br>
<span class="icon">
<i class="fa fa-fax"></i>
</span> &ensp;
<span property="faxNumber">407&ensp;291&ensp;2439</span>
<br>
<span class="icon">
<i class="fa fa-envelope-o"></i>
</span> &ensp;
<a href="mailto:sales@getcountertops.com" property="email">sales@getcountertops.com</a>
</div>

<div class="content__image fixedsticky">
<img src="{{ site.url }}/assets/images/kitchen-2.jpg">
</div>
</section>
