<aside class="sidebar sticky pull-left hidden-sm hidden-xs">
  <ul>
    <li><a class="tooltip-right" data-tooltip="(407)&nbsp;298-3065" href="tel:+14072983065"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="mailto:sales@getcountertops.com" class="tooltip-right" data-tooltip="sales@getcountertops.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></i></a></li>
    <li><a class="tooltip-right" data-tooltip="Like Us"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
    <li><a class="tooltip-right" data-tooltip="See More"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
    <li><a class="tooltip-right" data-tooltip="Houzz"><i class="fa fa-houzz fa-lg" aria-hidden="true"></i></i></a></li>

    <!-- <li><a class="tooltip-right"><i class="fa fa-gift fa-lg" aria-hidden="true"></i></i></a></li> -->
  </ul>
</aside>
