<aside class="sidebar fixedsticky">
  <ul>
    <li><a class="" href="tel:+140729830655"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></a></li>
    <li><a class=""><i class="fa fa-envelope-o" aria-hidden="true"></i></i></a></li>
    <li><a class=""><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
    <li><a class=""><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
    <li><a class=""><i class="fa fa-houzz fa-lg" aria-hidden="true"></i></i></a></li>

    <!-- <li><a class=""><i class="fa fa-gift fa-lg" aria-hidden="true"></i></i></a></li> -->
  </ul>
</aside>
