<section id="about" class="section" role="section">
    <div class="container">
        <div class="about columns">
            <div class="column is-6">
                <h2>Natural or Engineered Beauty?</h2>
                <h3>I'll help you find the kitchen countertop of your dreams.</h3>
                <p>By Susan Gustafson, Owner of Central Florida Marble, LLC.</p>
                <p><b>She knew what she wanted.</b> No she didn't know right away.</p>

                <p>Let me be honest with you. There are many choices to make when it comes to picking the right countertop for your kitchen.</p>

                <p>We make it easy with this guide. other info here or before. + brief history but link to full story</p>


                Granite or quartz? Should I go man-made or ole- natural? Many of my of my customers We have been serving Central Florida and surrounding areas since 1987. We use the latest technology in the industry to fabricate and install granite, quartz, solid surface, cultured marble countertops. We are proud to provide countertops for top custom builders in our area and we have serviced the top two home improvement companies in the US. We stand behind the quality of our work and our success is proven by the many years of experience.</p>
            </div>
            <div class="column is-offset-1">
                <figure class="image is-2x1">
                    <img src="http://placehold.it/1600x900">
                </figure>
            </div>
        </div>
    </div>
</section>
