<section class="container section content testimonials" role="section">
    <div class="row">

    <h2 class="visuallyhidden">Testimonials</h2>

    <div class="col-lg-6 col-sm-12-lg-6 col-lg-6 col-sm-12-sm-12">
    <figure class="snip1167">
      <img src="{{ site.url }}/assets/images/testimonials/face-1.jpg"/>
      <blockquote>Thank you Central Florida Marble! Your service was superior and I am so glad I worked with Susan. She was so kind, gave fair, expert advice and helped me find the perfect countertop for my kitchen. I went with granite and boy does the natural stone look divine! Thanks again for you quality workmanship.
        <!-- <a href="{{ site.url }}/assets/images/kitchen-2.jpg" data-lity data-lity-desc="Photo">Photo of John's Kitchen.</a></blockquote> -->
      <div class="author">
        <h5>John Ames <span>Central Florida</span></h5>
      </div>
    </figure>
  </div>

  <div class="col-lg-6 col-sm-12">
    <figure class="snip1167">
      <img src="{{ site.url }}/assets/images/testimonials/face-3.jpg"/>
      <blockquote>Thank you Central Florida Marble! Your service was superior and I am so glad I worked with Susan. She was so kind, gave fair, expert advice and helped me find the perfect countertop for my kitchen. I went with granite and boy does the natural stone look divine! Thanks again for you quality workmanship.
        <!-- <a href="{{ site.url }}/assets/images/kitchen-2.jpg" data-lity data-lity-desc="Photo"> Photo of the Blond's Kitchen.</a></blockquote> -->
      <div class="author">
        <h5>Rachel and Tim Blond<span>Orlando, Florida</span></h5>
      </div>
    </figure>
    </div>

<div class="col-lg-6 col-sm-12">
    <figure class="snip1167">
      <img src="{{ site.url }}/assets/images/testimonials/face-2.jpg"/>
      <blockquote>Thank you Central Florida Marble! Your service was superior and I am so glad I worked with Susan. She was so kind, gave fair, expert advice and helped me find the perfect countertop for my kitchen. I went with granite and boy does the natural stone look divine! Thanks again for you quality workmanship.
        <!-- <a href="{{ site.url }}/assets/images/kitchen-2.jpg" data-lity data-lity-desc="Photo"> Photo of Ava's Kitchen.</a></blockquote> -->
      <div class="author">
        <h5>Ava James<span>Central Florida</span></h5>
      </div>
    </figure>
    </div>

    <div class="col-lg-6 col-sm-12">
    <figure class="snip1167">
      <img src="{{ site.url }}/assets/images/testimonials/face-4.jpg"/>
      <blockquote>Thank you Central Florida Marble! Your service was superior and I am so glad I worked with Susan. She was so kind, gave fair, expert advice and helped me find the perfect countertop for my kitchen. I went with granite and boy does the natural stone look divine! Thanks again for you quality workmanship.
        <!-- <a href="{{ site.url }}/assets/images/kitchen-2.jpg" data-lity data-lity-desc="Photo"> Photo of Orbo's Kitchen.</a></blockquote> -->
      <div class="author">
        <h5>Orbo Sia<span>Central Florida</span></h5>
      </div>
    </figure>
</div>
  </div>
</section>
