.intro {
	.title {
		 font-family: $family-sans-serif;
    	 font-weight: 700;
    	 color: $black;
	}
    .subtitle {
		 font-family: $family-sans-serif;
    	 font-weight: 600;
    	 color: $black;
	}
}

.intro__featured-image {
	background: $purple;
}

.intro__copy {

}

.intro__copy-wrap {
	margin-top: 3em;
}