.content__text {
  @include span(7 of 16);
  margin-right: span(1 of 16);

  @include susy-media(phone) {
      @include span(full);
  }
}

.content__image {
  @include span(8 of 16 last);
  top: 120px;

  @include susy-media(phone) {
      @include span(full);
      position: relative;
  }
}


// .content__text {
//   @include susy-media(max) {
//     @include span(7 of 16);
//     margin-right: span(1 of 16);
//   }
//
//   // // @include susy-media(max) {  @include span(16 of 16 last); }
//  //  @include susy-media(phone) {
//  //    @include span(full);
//  // }
// }
//
// .content__image {
//
//   @include susy-media(max) {
//     @include span(8 of 16 last);
//   }
//
//  //  @include susy-media(phone) {
//  //    @include span(full);
//  // }
//
//   // // @include susy-media(max) {  @include span(16 of 16 last); }
//   // @include susy-media(phone, 8) {
//   //   // max-width: 100%;
//   //   @include container();
//   //   @include span(8 of 8);
//   //   // @include pull(8);
//   //   padding: 20px;
//   //   margin: 0;
//   //   }
// }

.slider {
  height: 425px;
  overflow: hidden;
  @include border-top-radius(3px);
  @include border-right-radius(3px);
  @include border-bottom-radius(3px);
  @include border-left-radius(3px);

  p {
    margin: 0;
    padding: 0;
  }
}

.our-story-slider-nav {
    text-align: center;
}

.image-shift {
  position: relative;
  top: -260px;
}


.slider-arrow {
  margin-right: .7em;
  font-size: 1.4em;
  color: $grey-darker;
}
