<div class="breadcrumbs-wrap">
  <h2 class="visuallyhidden">Header</h2>
  <div role="section" class="breadcrumbs">
    <div class="header__breadcrumbs-wrap">
      <nav role="menubar" aria-label="breadcrumbs">
        <ul class="nav">
          <li class="nav__item"><a href="{{ site.url }}/products/countertops/granite/">Granite</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/countertops/quartz/">Quartz</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/countertops/solid-surface/">Solid Surface</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/countertops/quartzite/">Quartzite</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/countertops/marble/">Marble</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/stone-remnants/">Stone Remnants</a></li>
          <li class="nav__item"><a href="{{ site.url }}/ultimate-countertop-guide">Ultimate Countertop Guide</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
