<h1 class="visuallyhidden">{{ site.title }}</h1>
<header role="header" class="header-wrap fixedsticky">
  <h2 class="visuallyhidden">Header</h2>
  <section role="section" class="header">

{% include header/main-navigation.html %}
<div class="header__logo-wrap">
  <!-- <img src="{{ site.url }}/assets/images/logo-mark-small.png"> -->
  <p class="header__logo-wrap__logo"><a href="{{ site.url }}">{{ site.title }}</a></p>
</div>
  </section>
</header>
<span id="nav-toggle" class="nav-toggle">
<span></span>
<span></span>
<span></span>
</span>
