{% assign products = site.products | where:"main-menu", "true" | sort: 'number' %}

<nav id="main-navigation" role="navigation" class="header__navigation">
  <h2 class="visuallyhidden">Main Navigation</h2>
  <ul class="nav">

    <li class="nav__item--first countertops">
      <a data="Countertops">Countertops <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
<div class="countertop-safety"></div>
      <div class="dropdown">
      <ul class="nav">
        <li class="nav__item--first"><a href="{{ site.url }}/products/countertops/granite/">Granite</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/countertops/quartz/">Quartz</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/countertops/solid-surface/">Solid Surface</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/countertops/quartzite/">Quartzite</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/countertops/marble/">Marble</a></li>&ensp;
      </ul>
    </div>
    </li>
    <li class="nav__item"><a href="{{ site.url }}/products/vanity-tops/">Vanity Tops</a></li>
    <li class="nav__item"><a data="Surrounds">Surrounds <i class="fa fa-caret-down" aria-hidden="true"></i></a>
<div class="surrounds-safety"></div>
      <div class="dropdown-surrounds">
        <ul class="nav">
        <li class="nav__item--first"><a href="{{ site.url }}/products/surrounds/fireplace/">Fireplace</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/surrounds/showers/">Showers</a></li>&ensp;
        <li class="nav__item"><a href="{{ site.url }}/products/surrounds/tub-deck/">Tub Deck</a></li>&ensp;
      </ul>
    </div>
    </li>
    <li class="nav__item"><a href="{{ site.url }}/products/thresholds">Thresholds</a></li>
    <li class="nav__item"><a href="{{ site.url }}/products/window-sills">Window Sills</a></li>
    </li>
  </ul>
</nav>
