{% assign products = site.products | where:"main-menu", "true" | sort: 'number' %}

<nav id="main-navigation" role="navigation" class="header__navigation">
  <h2 class="visuallyhidden">Main Navigation</h2>
  <ul class="nav">

    <!-- <li class="nav__item"><a href="{{ site.url }}/about/">Our Story</a></li> -->
    <li class="nav__item--first countertops"><a href="{{ site.url }}/products/countertops/">Countertops</a></li>
    <li class="nav__item"><a href="{{ site.url }}/products/cultured-marble/">Cultured Marble</a></li>
    <li class="nav__item"><a href="{{ site.url }}/products/surrounds/">Surrounds</a></li>


    <li class="nav__item"><a href="{{ site.url }}/products/thresholds">Thresholds</a></li>
    <li class="nav__item"><a href="{{ site.url }}/products/window-sills">Window Sills</a></li>

<!-- <li class="nav__item"><a href="{{ site.url }}/about/">History & Process</a></li> -->

    <!-- <li class="nav__item"><a href="{{ site.url }}/products">Products</a>

    <ul>
      <li class="nav__item"><a href="{{ site.url }}/ultimate-countertop-guide">Ultimate Countertop Guide</a></li>
      {% for product in products %}
      <li class="nav__item"><a href="{{ product.url }}">{{ product.title }}</a></li>
      {% endfor %}
      <li class="nav__item"><a href="{{ site.url }}/stone-remnants/">Stone Remnants</a></li>
    </ul>
    </li> -->
    <!-- <li class="nav__item"><a href="{{ site.url }}/#contact">Free Quote</a></li> -->
    <!-- <li class="nav__item"><a href="tel:+140729830655">+1 (407) 298-3065</a></li> -->
    <!-- <li class="nav__item"><a href="tel:+140729830655">Click to Call</a></li> -->

    </li>
  </ul>
</nav>
