{% assign products = site.products | where:"main-menu", "true" | sort: 'number' %}

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <h2 class="visuallyhidden">Main Navigation</h2>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countertops</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.url }}/products/countertops/granite/">Granite</a>
            <a class="dropdown-item" href="{{ site.url }}/products/countertops/quartz/">Quartz</a>
            <a class="dropdown-item" href="{{ site.url }}/products/countertops/solid-surface/">Solid Surface</a>
            <a class="dropdown-item" href="{{ site.url }}/products/countertops/quartzite/">Quartzite</a>
            <a class="dropdown-item" href="{{ site.url }}/products/countertops/marble/">Marble</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vanity Tops</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Surrounds</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.url }}/products/surrounds/fireplace/">Fireplace</a>
            <a class="dropdown-item" href="{{ site.url }}/products/surrounds/showers/">Showers</a>
            <a class="dropdown-item" href="{{ site.url }}/products/surrounds/tub-deck/">Tub Deck</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/products/thresholds">Thresholds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/products/window-sills">Window Sills</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
