<div class="breadcrumbs-wrap">
  <h2 class="visuallyhidden">Header</h2>
  <div role="section" class="breadcrumbs">
    <div class="header__breadcrumbs-wrap">
      <nav role="menubar" aria-label="breadcrumbs">
        <ul class="nav">
          <li class="nav__item"><a href="{{ site.url }}/products/surrounds/fireplace/">Fireplace</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/surrounds/showers/">Showers</a></li>&ensp;
          <li class="nav__item"><a href="{{ site.url }}/products/surrounds/tub-deck/">Tub Deck</a></li>&ensp;
        </ul>
      </nav>
    </div>
  </div>
</div>
