@import "nav";
@import "breadcrumbs";

// Header Layout
.header-wrap {
  width: 100%;
  top: 0;
  z-index: 30;
  //display: none;
}

.header-wrap::before {
  content: "";
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.header-wrap::after {
  content: "";
  background: url('/assets/images/textures/marble.jpg');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  @include container($full-container-width);
  margin-left: 11.5%;
  margin-right: 7.5%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 60px;
  border-bottom: 1px solid $grey-lighter;

  .header__logo-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__navigation {
    flex: 2 1 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo-link:hover {
  color: $primary;
}

.logomark {
  height: 53px;
      left: 46px;
      margin-right: 7px;
      position: absolute;
      top: 6px;
}

//Header Styles

.header__logo-wrap__logo a {
  font-family: $sans-serif-condensed;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  color: $grey-darker;
}
