@import "landing";
@import "header/header";
@import "sidebar/sidebar";
@import "testimonials";
@import "footer";

.carousel {
  margin-left: 0;
  margin-bottom: 2em;
  @media (min-width: 992px) {
    margin-left: 3rem;
   }
}

.carousel-item {
  max-width: 100%;
  max-height: 100%;
  // @media (max-width: 500px) {
  //   max-height: 300px;
  //  }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom--bottom {
    transform: translateY(0%);
}
