.footer-bg-wrap {
  @include container($full-container-width);
  background: rgba(51, 51, 51, 0.1);
}

.footer {
  padding: 3em 0 10em;
  // @include texture(180deg, $grey-lighter, $grey-lighter, 54, 1);
}

.address {
  @include span(5 of 16);
}

.google-map {
  margin-top: 1.5em;
}

.footer__nav {
    @include span(11 of 16 last);
}

.footer__nav__column {
  @include span(4 of 16);
}

.footer__nav__column-2 {
  @include span(4 of 16);
}

.footer__nav__column--last {
  @include span(2.5 of 12 last);
}

.household-heading {
  margin-top: 4.2em;
}
