.footer {
  margin-top: 5em;
  margin-bottom: 7em;
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 1em;
  }
}

.google-map {
  margin-top: 1.5em;
}

.footer-section {
  margin-bottom: 1em;
}
