.landing {
  height:150vh;
  // @include texture(180deg, $grey-lighter, $grey-lighter, 54, 1);

  display: flex;

  background: url('https://getcountertops.github.io/assets/images/products/granite/granite-1.jpg') no-repeat scroll center center fixed;;
  /* right top */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.landing__text-wrap {
  display: flex;
  height: auto;
  //margin-top: 5em;
  width: 100%;
}

.landing__video-wrap {
  flex: 1;
  display: flex;
}


.landing__text {
 margin: 0 auto;
 padding: 0 3em;
 height: 10em;
 width: 41em;
 background: rgba(255,255,255,0.9);
 border-right: 2px solid $primary;
 border-bottom: 2px solid $primary;
 border-left: 2px solid $primary;

 .h2 {
    color: $primary;
    margin-top: .5em;
 }
}

@media (max-width: 768px) {

  .landing__text {
    height: 9em;

    .h2 {
      font-size: 1.75em;
    }
  }
}

@media (max-width: 600px) {

  .landing__text {
    height: 7.5em;
    padding: 0 20px;

    .h2 {
      font-size: 1em;
    }
  }
}
}
