.landing {
  height:150vh;
  // @include texture(180deg, $grey-lighter, $grey-lighter, 54, 1);

  display: flex;

  background: url('https://getcountertops.github.io/assets/images/products/granite/granite-1.jpg') no-repeat scroll right top;
  /* center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.landing__text-wrap {
  display: flex;
  height: auto;
  //margin-top: 5em;
  width: 100%;
}

.landing__video-wrap {
  flex: 1;
  display: flex;
}


.landing__text {
 margin: 0 auto;
 padding: 0 3em;
 height: 10em;
 width: 41em;
 background: rgba(255,255,255,0.9);
 border-right: 2px solid $primary;
 border-bottom: 2px solid $primary;
 border-left: 2px solid $primary;

 .h2 {
    color: $primary;
    margin-top: .5em;
 }
}

@media (max-width: 768px) {

  .landing__text {
    height: 9em;

    .h2 {
      font-size: 1.75em;
    }
  }
}

@media (max-width: 600px) {

  .landing__text {
    height: 7.5em;
    padding: 0 20px;

    .h2 {
      font-size: 1em;
    }
  }
}



// .landing__video  {
// 	// position: relative;
// 	// padding-bottom: 56.25%; /* 16:9 */
// 	// padding-top: 25px;
// 	// height: 0;
//   margin: 6.5em 0 0 3em;
// }
// .landing__video  iframe {
// 	// position: absolute;
// 	// top: 0;
// 	// left: 0;
// 	width: 578px;
//   height: 357px;
// }
//
// .landing__form {
//   flex: 1;
//
//   .landing__form__button {
//     display: inline;
//       background-color: $primary;
//       color: $white;
//       margin-left: .5em;
//       font-size: 1em;
//       height: rem(47);
//       padding: 0 12px;
//       width: inherit;
//       border-bottom: 4px solid shade($primary, 30%);
//   }
//
//
//   .landing__form__input {
//     font-size: 1em;
//     height: 2.25em;
//     margin: 1em 0;
//       width: 70%;
//       display: inline;
//   }
//
// }
//
// .film-link {
//     background: $grey-dark;
//     color: $white;
//     margin: 3em 0 0 13.5em;
//     font-size: 1em;
//     height: rem(47);
//     padding: 0 12px;
//     width: inherit;
//     border-bottom: 4px solid shade($primary, 60%);
//
//     i {
//       padding-left: 15px;
//     }
// }
//
//
//
// .logomark-small {
//   height: 75px;
//    position: relative;
//    right: 7px;
//    top: 23em;
// }
//
// .landing-logo {
//   position: relative;
//   top: 21em;
// }
//
// .logomark-2 {
//   height: 75px;
// }
//
// .logomark-main {
//   height: 90px;
//   margin-top: 1em;
// }
