/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.is-first-heading {
  margin-top: 0 !important;
}








.border-bottom {
    border-bottom: 1px solid $black;
    padding-bottom: 5em;
}

.border-top {
    border-top: 1px solid $black;
    padding-top: 2em;
}

.is-first-heading {
  margin-top: 0;
}

.defer-img > img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}
