// Typography
// $sans-serif: 'Roboto', sans-serif;
$sans-serif-condensed: 'Roboto Condensed', sans-serif;
$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro', serif;
$monospace: 'Source Code Pro', mono;
$base-font-family: $serif;
$heading-font-family: $sans-serif;

// Font Sizes
$base-font-size: 21px;

// Line height
$base-line-height: 1.65;
$heading-line-height: 1.2;
$base-font-weight: 500;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Container Widths
$base-container-width: 85%;
$full-container-width: 100%;

// Colors
$white:        #fffff8;
$black:        #111111;
$purple:       #884ea0;
$primary:      #753b86;
$highlight:    #b094b8;
$blue:         #477dca;
$grey-darker:  #363636;
$grey-dark:	   #4a4a4a;
$grey:	       #7a7a7a;
$grey-light:   #b5b5b5;
$grey-lighter: #dbdbdb;
$stone:        #fbeee6;

$background-color: $white;

// temp ideas
// $consider:     #993366; #660066 #753b86

// Font Colors
$base-background-color: $white;
$base-font-color: $black;
$action-color: $primary;

// Border
$base-border-color: $grey-light;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//Breakpoints
$tablet: 768px;
