<section class="content">
    <h3 class="footer__title title">See & Feel Stone Selections</h3>
    <div vocab="http://schema.org/" typeof="LocalBusiness">
        <span class="visuallyhidden" property="name">Central Florida Marble, LLC.</span>
        <span class="icon">
  <i class="fa fa-phone"></i>
</span> &ensp;
        <span class="sans-serif bold" property="telephone">+1 (407)&ensp;298 - 3065</span>
        <br>
        <span class="icon">
  <i class="fa fa-fax"></i>
</span> &ensp;
        <span class="sans-serif bold" property="faxNumber">+1 (407)&ensp;291 - 2439</span>
        <br>
        <span class="icon">
  <i class="fa fa-envelope-o"></i>
</span> &ensp;
        <a class="bold"href="mailto:sales@getcountertops.com" property="email">sales@getcountertops.com</a>
    </div>
    <a class="footer__free-quote-button button is-large is-primary">Get Your Free Quote</a>
</section>
