<footer class="footer" role="footer">
    <h2 class="visuallyhidden">Footer</h2>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="columns is-multiline">
                    <section class="column content">
                        <h3 class="title">Connect With Us</h3>
                        <p>We have been serving Central Florida and surrounding areas since 1987. We use the latest technology in the industry to fabricate and install granite, quartz, solid surface, cultured marble countertops.</p>
                        <a class="button is-medium is-primary">Get A Free Quote</a>
                    </section>
                    {% include footer-nav.html %}

                </div>
            </div>
            <div class="column is-half">
                <div class="columns is-multiline">
                    {% include contact-info.html %} 
                    {% include address-and-hours.html %} 
                </div>
            </div>
        </div>
        <small>Copyright &copy; 2016 Central Florida Marble, LLC.&ensp;Website by Clark Spark Design</small>
    </div>
</footer>
