<footer class="footer" role="footer">
    <h2 class="visuallyhidden">Footer</h2>
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                {% include _footer/contact-info.html %} 
                {% include _footer/address.html %} 
            </div>
            <section class="column">
                <div class="columns is-multiline">
            {% include _footer/_product-button-lists/footer-product-button-list.html %}
            {% include _footer/connect-online.html %}
            </div>
            </section>
        </div>
        <small>Copyright &copy; 2017 Central Florida Marble, LLC.&ensp;<a href="{{ site.url }}/terms">Terms</a>&ensp;Website by Clark Spark Design</small>
    </div>
</footer>
