@import "nav";

.header {
  top: 0;
  z-index: 100;
  height: auto;
  background: $background-color;
}

// .header::before {
//   content: "";
//   background-color: $white;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -2;
// }
//
// .header::after {
//   content: "";
//   background: url('/assets/images/textures/marble.jpg');
//   opacity: 0.2;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

.logo-link:hover {
  color: $primary;
}

.logomark {
  height: 53px;
      left: -151px;
      margin-right: 7px;
      position: absolute;
      top: 10px;
}

//Header Styles
