.nav {
  list-style: none;
}

.nav__item {
  display: inline;
  padding-left: em(10px);
  z-index: 100;

  a {
    text-decoration: none;
    font-family: $sans-serif;
    font-weight: 700;

    &:focus,
    &:hover {}
  }
}

.is-active {
  padding-bottom: 2px;
  border-bottom: 2px solid $primary;
}

.nav ul {
  position: relative;
  top: 45%;
  //background: $white;
}

.nav:first-child {
  padding-left: 0;
}

.nav__item--first {
  padding-left: 0;
  display: inline;
}

.nav li:hover .dropdown,.nav li:hover .dropdown-surrounds {
  display: block;
}

// .nav .dropdown ul {
//   position: relative;
//   margin-top: none;
// }

.dropdown {
  position: absolute;
  top: 2.9em;
  width: 645px;
  display: none;
  z-index: 5;
  // background: $stone;

  .nav {
    position: relative;
    height: 38px;
    padding: 4px 0;
  }

  .nav li a {
    font-weight: 600;
  }
}

.dropdown-surrounds {
  position: absolute;
  top: 2.9em;
  width: 635px;
  display: none;
  z-index: 20;
  //background: $stone;

  .nav {
    left: 271px;
    position: relative;
    height: 38px;
    padding: 4px 0;
    // background: $stone;
  }

  .nav li a {
    font-weight: 600;
  }
}

.dropdown-surrounds::before, .dropdown::before {
    content: "";
  background-color: $stone;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.dropdown-surrounds::after, .dropdown::after {
  content: "";
  background: url('/assets/images/textures/marble.jpg');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav i {
  font-size: .7em;
  left: 2px;
    position: relative;
    top: -1px;
}

.countertop-safety {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  width: 135px;
  height: 100px;
}

.surrounds-safety {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  background-repeat: repeat;
  height: 61px;
    left: 49.4em;
    position: absolute;
    top: 0;
    width: 121px;
}

// /* First Tier Dropdown */
// .nav ul li {
//     min-width:170px;
//     display:list-item;
//     position: relative;
// }
