<div class="landing">
  <div class="landing__text-wrap">
    <div class="landing__text">
      <p class="h2 is-first heading">Entrust the cornerstone of your kitchen with a family who have delivered quality workmanship for 30 years.</p>
      <p class="h3 is-first heading"><b>What can we build for you?</b> Discover the possabilities and perfect surface for your needs and budget when you download our Essential Countertop Guide:</p>
      <div class="landing__form">
        <input class="landing__form__input" type="text" placeholder="your@email.com"></input>
        <button class="landing__form__button" href="{{ site.url }}/#">Get Inspired&ensp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="landing__video-wrap">
    <div class="landing__video">
      <iframe src="https://player.vimeo.com/video/98472569?title=0&byline=0&portrait=0" width="1000" height="750" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
