<section class="content" role="section">
<div class="content__text">

<h2 class="">A Straightfoward Process</h2>

<p class="h3">Crafting the cornerstone of your kitchen is as easy as <b>Four Simple Steps.</b></p>

<p class="h4"><b>Step 1:</b> Measurements, Material Choice, and Price Estimate</p>

To get started, give us a call and describe your project. It is helpful if you can give the measurements both of the countertop area and built-in appliances and faucets that will be installed.

<p class="h4">Visit Our Showroom</p>

Not sure which material is right for you? Make an appointment to visit our showroom. We will help you select a product, color, finish and edge profile that fits your needs and budget. We have a selection of <a href="{{ site.url }}/stone-remnants/">stone remnants</a> available for use in smaller projects.

<p class="h4">Get Your Estimate</p>

Once you've made your decision, we'll give you a price estimate based on the size of the project and the material used.

<p class="h4"><b>Step 2:</b> Finalized Measurements and Price</p>

Next, our team will visit the job site and take final measurements of the countertop area. After creating the template, we will send the finalized price.

<p class="h4"><b>Step 3:</b> Fabrication</p>

<p>We fabricate all our household surfaces using the latest industry technology, including CNC Machinery to shape our quartz, quartzite and granite products.</p>

<p class="h4"><b>Step 4:</b> Installation</p>

<p>Time between choosing the material and the final installation will vary based on the size of the project.</p>

<p class="h2">Call Us Today</p>
<p><b>Ready to get started?</b> Whether you have measurements in hand or just want to learn more, give us a call and we will be glad to answer your questions and guide you to the next step. <b>Schedule an appointment now to visit our showroom and view swatches in person.</b></p>
<span class="icon">
<i class="fa fa-phone"></i>
</span> &ensp;
<span class="sans-serif bold" property="telephone">(407) 298-3065</span>
<br>
<span class="icon">
<i class="fa fa-fax"></i>
</span> &ensp;
<span class="sans-serif bold" property="faxNumber">(407) 291-2439</span>
<br>
<span class="icon">
<i class="fa fa-envelope-o"></i>
</span> &ensp;
<a href="mailto:sales@getcountertops.com" property="email">sales@getcountertops.com</a>

<p class="h3">"I'll never forget such personal service and excellence in craft." &ndash; Mary Mossley</p>

<p class="h4">Our customers are our greatest spokesmen. Read about their experience below&ensp;<i class="fa fa-caret-down"></p>
</div>

<div class="content__image fixedsticky">
<a href="{{ site.url }}/assets/images/kitchen-2.jpg" data-lity data-lity-desc="Photo"><img src="{{ site.url }}/assets/images/kitchen-2.jpg"></a>

</div>
</section>
