@import "social-buttons";

$side-bar-width: 100px;

.sidebar {
  left: 95px !important;
  text-align: center !important;
  top: 120px;
  margin-top: 6em;
  color: $primary;
  z-index: 60;

  ul li {
    margin: 0 1.5em 1em 0;
  }
}

.footer--sidebar {
  margin-top: 2.75em;
  text-align: right;
  top: 120px;

  ul li {
    margin: 0 1.5em 1em 0;
  }
}
