@import "social-buttons";

$side-bar-width: 100px;
.sidebar {
  // float: left;
  // width: $side-bar-width;
  // left: 3.5em;
  // top: 9em;
  // position: fixed;
  height: 100%;
  // border-right: 1px solid $grey-lighter;
  text-align: right;
  top: 120px;

  ul li {
    margin: 0 1.5em 1em 0;
  }
}

.sidebar {
@include with-layout($sidebar) {
    @include span(1);
  }
}

// .side {
//   @include span(3 static isolate);
// }

// .sidebar {
// @include with-layout(100px 12 .25 static isolate ) {
//   // Temporary 8-column static grid...
// }
// }
