@import "social-buttons";

$side-bar-width: 100px;

.sidebar {
  // height: 100%;
  text-align: right;
  top: 120px;

  ul li {
    margin: 0 1.5em 1em 0;
  }
}

.footer--sidebar {
  margin-top: 2.75em;
  text-align: right;
  top: 120px;

  ul li {
    margin: 0 1.5em 1em 0;
  }
}

.sidebar, .footer--sidebar {
@include with-layout($sidebar) {
    @include span(1);
  }
@include susy-media(phone) {  display: none; }
}
